---
# Basic system config & essentials

- name: Update system
  dnf:
    name: "*"
    state: latest

- name: Install base packages
  dnf:
    name:
      - git
      - neovim
      - curl
      - htop
      - wget
      - httpie
      - ripgrep
      - bat
      - nmap
      - nodejs
      - cargo
      - unar
      - lazygit
      - gdu
    state: present



- name: Install eza via cargo
  community.general.cargo:
    name: eza
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Install bottom (recommended for AstroNVim) via cargo
  community.general.cargo:
    name: bottom
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Get AstroNVim via git
  ansible.builtin.git:
    repo: https://github.com/AstroNvim/template
    depth: 1
    dest: "{{ ansible_env.HOME }}/.config/nvim"

- name: Get Bash-it via git
  ansible.builtin.git:
    repo: https://github.com/Bash-it/bash-it.git
    depth: 1
    dest: "{{ ansible_env.HOME }}/.bash_it"
