---
# Basic system config & essentials
- name: enable COPR repo for lazygit
  community.general.copr:
    name: "dejan/lazygit"
    state: enabled

- name: Update system
  dnf:
    name: "*"
    state: latest

- name: Install base packages
  dnf:
    name:
      - git
      - neovim
      - curl
      - htop
      - wget
      - httpie
      - ripgrep
      - bat
      - nmap
      - nodejs
      - cargo
      - unar
      - lazygit
      - gdu
    state: present

- name: Install eza via cargo
  become_user: "{{ ansible_user }}"
  community.general.cargo:
    name: eza
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Install bottom (recommended for AstroNVim) via cargo
  become_user: "{{ ansible_user }}" 
  community.general.cargo:
    name: bottom
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Ensure nvim directory exists
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "~{{ ansible_user }}/.config/nvim"
    state: directory
    mode: "0755"

- name: Get AstroNVim via git
  become: "{{ ansible_user }}"
  ansible.builtin.git:
    repo: https://github.com/AstroNvim/template
    depth: 1
    dest: "~{{ ansible_user }}/.config/nvim"

- name: Get Bash-it via git
  become: "{{ ansible_user }}"
  ansible.builtin.git:
    repo: https://github.com/Bash-it/bash-it.git
    depth: 1
    dest: "{{ ansible_env.HOME }}/.bash_it"

- name: Run bash-it installer
  become_user: "{{ ansible_user }}"
  ansible.builtin.shell: "~{{ ansible_user }}/.bash_it/install.sh --silent"
  args:
    creates: "~{{ ansible_user }}/.bashrc.bak"

- name: Set Bash-It Theme
  become_user: "{{ ansible_user }}"
  ansible.builtin.lineinfile:
    path: "~{{ ansible_user }}/.bashrc"
    regexp: "^export BASH_IT_THEME="
    line: "export BASH_IT_THEME='inretio'"

- name: Add cargo to PATH if not already present
  become_user: "{{ ansible_user }}"
  ansible.builtin.lineinfile:
    path: "~{{ ansible_user }}/.bashrc"
    search_string: 'export PATH="$PATH:/home/{{ ansible_user }}/.cargo/bin"'
    line: 'export PATH="$PATH:/home/{{ ansible_user }}/.cargo/bin"'
    state: present
