---
# Basic system config & essentials
- name: enable COPR repo for lazygit
  become: true
  community.general.copr:
    name: "dejan/lazygit"
    state: enabled

- name: Update system
  become: true
  dnf:
    name: "*"
    state: latest

- name: Install base packages
  become: true
  dnf:
    name:
      - git
      - neovim
      - curl
      - htop
      - wget
      - httpie
      - ripgrep
      - bat
      - nmap
      - nodejs
      - cargo
      - unar
      - lazygit
      - gdu
    state: present

- name: Install eza via cargo
  community.general.cargo:
    name: eza
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Install bottom (recommended for AstroNVim) via cargo
  community.general.cargo:
    name: bottom
    state: latest
    locked: true
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"

- name: Ensure nvim directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/nvim"
    state: directory
    mode: "0755"

- name: Get AstroNVim via git
  ansible.builtin.git:
    repo: https://github.com/AstroNvim/template
    depth: 1
    dest: "{{ ansible_env.HOME }}/.config/nvim"

- name: Check if nvim exists
  ansible.builtin.stat:
    path: /usr/bin/nvim
  register: nvim

- name: Create symlink only if nvim exists
  become: true
  ansible.builtin.file:
    src: /usr/bin/nvim
    dest: /usr/bin/vim
    state: link
    force: yes
  when: nvim.stat.exists

- name: Get Bash-it via git
  ansible.builtin.git:
    repo: https://github.com/Bash-it/bash-it.git
    depth: 1
    dest: "{{ ansible_env.HOME }}/.bash_it"

- name: Run bash-it installer
  ansible.builtin.shell: "{{ ansible_env.HOME }}/.bash_it/install.sh --silent"
  args:
    creates: "{{ ansible_env.HOME }}/.bashrc.bak"

- name: Set Bash-It Theme
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    regexp: "^export BASH_IT_THEME="
    line: "export BASH_IT_THEME='inretio'"

- name: Add cargo to PATH if not already present
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    search_string: 'export PATH="$PATH:{{ ansible_env.HOME }}/.cargo/bin"'
    line: 'export PATH="$PATH:{{ ansible_env.HOME }}/.cargo/bin"'
    state: present

- name: change default editor
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    search_string: "export EDITOR=/usr/bin/vim"
    line: "export EDITOR=/usr/bin/vim"

- name: Ensure custom Bash-It alias file exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.bash_it/aliases/custom.aliases.bash"
    state: touch

- name: Replace ls aliases with eza equivalents
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bash_it/aliases/custom.aliases.bash"
    regexp: "^alias {{ item.name }}="
    line: "alias {{ item.name }}='{{ item.value }}'"
    create: yes
  loop:
    - { name: "l",  value: "eza -l" }
    - { name: "la", value: "eza -la" }
    - { name: "ll", value: "eza -la" }
    - { name: "tree", value: "eza --tree"}

- name: Source bashrc to activate aliases immediately
  ansible.builtin.shell: "source ~/.bashrc"
  args:
    executable: /bin/bash

#- name: enable aliases for bashit
#  ansible.builtin.shell: "bashit enable alias {{ item }}"
#  loop:
#    - dnf
#    - git
#    - terraform

- name: Check if font already exists
  ansible.builtin.stat:
    path: "/usr/share/fonts/SymbolsNerdFont-Regular.ttf"
  register: nerd_installed

- name: Download Nerd Font Symbols
  become: true
  ansible.builtin.get_url:
    url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/NerdFontsSymbolsOnly.zip"
    dest: /tmp/
    mode: '0644'
  when: not nerd_installed.stat.exists

- name: Extract Nerd Font Symbols to local fonts folder
  become: true
  ansible.builtin.unarchive:
    src: "/tmp/NerdFontsSymbolsOnly.zip"
    dest: "/usr/share/fonts/"
    remote_src: true
  when: not nerd_installed.stat.exists

- name: Refresh font cache
  become: true
  ansible.builtin.command: fc-cache -f -v
  when: not nerd_installed.stat.exists
